/*#region general*/
body {
  color: #ffffffe0; 
}


/*#endregion general */

/*#region Table*/

/* General style for table  */
table {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
  max-width: 80%; 
  margin: 0 auto; /* Centering the table horizontally inside main */
  border-radius: 20px;
}

table,
tr,
td {
  border-collapse: collapse; /* Avoid double borders on the table */
}

/* Style for thead  */
thead :nth-child(1) {
  /* First table header th ("Package") */
  border-top-left-radius: 20px;
}

thead :nth-child(3) {
  /* third table header th ("Child (12 and under)") */
  border-top-right-radius: 20px;
}

th {
  background-color: #486de8; 
  color: white;
  padding: 2rem;
  text-align: left;
}

/* Style for tr  */
tr:nth-child(even) {
  /* Style for even rows of the table - 2, 4, 6 */
  background-color: #1c82c2;
  color: white;
}

tr :nth-child(1) {
  /* The first column of each row */
  width: 40%; 
}

/*Style for td*/
td {
  padding: 2rem;
  text-align: left;
}
/*#endregion Table*/

/*#region Section*/
section {
  margin: 0 auto; 
  max-width: 80%; 

  margin-bottom: 4rem;
  margin-top: 3rem;
  background-color: #5da6d3;
  border-radius: 20px;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

section p {
  text-align: left;
  font-size: 2rem;
  font-family: "Tai Heritage Pro", serif;
  max-width: 45%; 
  display: inline-block; 
  vertical-align: top; 
  text-align: left;
}

span {
  font-weight: 700;
}

section figure {
  display: inline-block; 
  max-width: 28%; 
}

/*#endregion Section Style*/

/*#region addition to Foooter style*/
footer {
  margin-top: 5rem; 
}
/*#endregion addition to Foooter style*/

/*#region Media queries*/

@media (max-width: 880px) {
  
  section p {
    max-width: 80%; 
  }

  section figure {
    display: none; 
  }
}
/*#endregion Media queries*/
