/*#region general*/
body {
  color: #ffffffe0; /* Text color */
}


/*#endregion general */

/*#region Table*/

/* General style for table  */
table {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); /* (horizontal offset, vertical offset, blur radius) */
  max-width: 80%; /* 80% of main's width */
  margin: 0 auto; /* Centering the table horizontally inside main */
  border-radius: 20px;
}

table,
tr,
td {
  border-collapse: collapse; /* Avoid double borders on the table */
}

/* Style for thead  */
thead :nth-child(1) {
  /* First table header th ("Package") */
  border-top-left-radius: 20px;
}

thead :nth-child(3) {
  /* third table header th ("Child (12 and under)") */
  border-top-right-radius: 20px;
}

th {
  background-color: #486de8; /* BG color for table header row */
  color: white; /* Text color for table header row */
  padding: 2rem;
  text-align: left;
}

/* Style for tr  */
tr:nth-child(even) {
  /* Style for even rows of the table - 2, 4, 6 */
  background-color: #1c82c2;
  color: white;
}

tr :nth-child(1) {
  /* The first column of each row */
  width: 40%; /* 40% of the width of the row */
}

/*Style for td*/
td {
  padding: 2rem;
  text-align: left;
}
/*#endregion Table*/

/*#region Section*/
section {
  margin: 0 auto; /* Horizontally center section inside main */
  max-width: 80%; /* 80% of main's width */

  margin-bottom: 4rem;
  margin-top: 3rem;
  background-color: #5da6d3;
  border-radius: 20px;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

section p {
  text-align: left;
  font-size: 2rem;
  font-family: "Tai Heritage Pro", serif;
  max-width: 45%; /* 45% of the section's width */
  display: inline-block; /* To position the paragraph next to the image */
  vertical-align: top; /* To vertically align the text with the top of the image */
  text-align: left;
}

span {
  font-weight: 700;
}

section figure {
  display: inline-block; /* To position the image next to the text */
  max-width: 28%; /* 28% of the section's width */
}

/*#endregion Section Style*/

/*#region addition to Foooter style*/
footer {
  margin-top: 5rem; /* Margin between the table and the footer */
}
/*#endregion addition to Foooter style*/

/*#region Media queries*/

@media (max-width: 880px) {
  
  section p {
    max-width: 80%; /* 80% of the secion's width, on mobile */
  }

  section figure {
    display: none; /* Hide the image on mobile, to save space */
  }
}
/*#endregion Media queries*/
